<?xml version="1.0"?>

<model>
  <name>cylinder_pill_red</name>
  <version>1.0</version>
  <sdf version="1.2">model.sdf</sdf>
  <sdf version="1.3">model.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version='1.5'>model.sdf</sdf>


  <author>
    <name>Joel Behlevanas</name>
    <email>z5116767@ad.unsw.edu.au</email>
  </author>

  <description>
    A cylinder shape for pick and place robot. Used for group assignment in MMAN4230 t2-2020
  </description>
</model>