<?xml version="1.0"?>

<model>
  <name>item_table</name>
  <version>1.0</version>
  <sdf version="1.2">model.sdf</sdf>
  <sdf version="1.3">model.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version='1.5'>model.sdf</sdf>


  <author>
   <name>Joel Behlevanas</name>
   <email>z5116767@ad.unsw.edu.au</email>
  </author>

  <description>
    Table to hold pill items
  </description>
</model>
